@model IEnumerable<WowRoads.Models.Agent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AgentFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgentLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgentID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AgentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>